.chat-container {
  flex: 2;
  height: 100%;

  border-left: 1px solid #dddddd35;
  border-right: 1px solid #dddddd35;

  display: flex;
  flex-direction: column;
}

.chat-top {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dddddd35;
}

.chat-top .user-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.chat-top .user-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.chat-top .texts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.chat-top .texts span {
  font-size: 18px;
  font-weight: bold;
}

.chat-top .texts p {
  font-size: 14px;
  font-weight: 300;
  color: #a5a5a5;
}

.chat-top .icons {
  display: flex;
  gap: 20px;
}

.chat-top .icons img {
  width: 20px;
  height: 20px;
}

.chat-center {
  padding: 20px;
  flex: 1;

  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chat-center .message-others {
  max-width: 70%;
  display: flex;
  gap: 20px;
}

.chat-center .message-others .message-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.chat-center .message-others .message-text p {
  padding: 20px;
  background-color: #1119284d;
  border-radius: 10px;
}

.chat-center .message-others img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.chat-center .message-own {
  max-width: 70%;
  display: flex;
  gap: 20px;
  align-self: flex-end;
}

.chat-center .message-text .attached-image {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.chat-center .message-own .message-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.chat-center .message-own .message-text p {
  padding: 20px;
  background-color: #5183fe;
  border-radius: 10px;
}

.chat-center .message-text span {
  font-size: 13px;
}

.chat-bottom {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #dddddd35;
  gap: 20px;

  margin-top: auto;
}

.chat-bottom .icons {
  display: flex;
  gap: 20px;
}

.chat-bottom .icons img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.chat-bottom input {
  flex: 1;
  background-color: #11192880;
  border: none;
  outline: none;
  color: #fff;

  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
}

.chat-bottom .send-button {
  background-color: #5183fe;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chat-bottom .emoji img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.chat-bottom .emoji {
  position: relative;
}

.chat-bottom .emoji .emoji-picker {
  position: absolute;
  bottom: 50px;
  left: 0px;
}
