.chat-container {
  flex: 2;
  height: 100%;

  border-left: 1px solid #dddddd35;
  border-right: 1px solid #dddddd35;
}

.chat-top {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dddddd35;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.texts span {
  font-size: 18px;
  font-weight: bold;
}

.texts p {
  font-size: 14px;
  font-weight: 300;
  color: #a5a5a5;
}

.icons {
  display: flex;
  gap: 20px;
}

.icons img {
  width: 20px;
  height: 20px;
}
