:root {
  --chat-color: #111928bf;
  --text-color: #ffffff;
  --border-color: #ffffff20;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("/bg.jpg");
  height: 100vh;
  color: var(--text-color);
}

.app-container {
  width: 80vw;
  height: 90vh;

  background-color: var(--chat-color);
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 15px;
  border: 1px solid var(--border-color);

  display: flex;
}
